<body>
<header class="header">
	<nav>
	    <p class="name">NewsMongoose</p>
		<p class="home"><a href="#">Home</a></p>
		<p class="savedArt"><a href="">Saved Articles</a></p>
		<p class="scrapeNew"><button>Scrape New Articles!</button></p>
	</nav>
</header>
<div class="container">
   <div>
   <h1>Saved Articles</h1>
   <h3>Your Saved Articles</h3>
   </div>
</div>
<div>
</div>

</body>

<!-- <body>
<header class="header">
	<nav>
	    <p class="name">NewsMongoose</p>
		<p class="home"><a href="#">Home</a></p>
		<p class="savedArt"><a href="">Saved Articles</a></p>
		<p class="scrapeNew"><button>Scrape New Articles!</button></p>
	</nav>
</header>
<div class="container">
   <div class="text">
   <h1>Saved Articles</h1>
   <h3>Your Saved Articles</h3>
   </div>
</div>
<div>

</div>

</body> -->