nav li{
	display: inline;
}
nav {
	background-color: #879eb0;
}
.header {
	height: 100px;
}

img {
	background-size: cover;
	background-repeat: no-repeat;
	/*margin-top: -10px;*/
}

.container {
	background-image: url("../images/img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	height: 500px;
	padding-top: 150px;
	margin-top: -10px;
	font-family: Optima;
}
h1 {
	font-size: 58px;
	letter-spacing: 0.05em;
	text-align: center;
}

h2 {
	font-size: 30px;
	letter-spacing: 0.05em;
	text-align: center;
}

h3 {
	font-size: 25px;
	letter-spacing: 0.05em;
	text-align: center;
	background-color: #879eb0;
	padding: 20px;
	margin-top: -20px;
}

.latestArticles {

}
li {
	font-size: 30px;
	padding: 20px;
}
p {
	font-size: 18px;
	font-family: Optima;
}
a {
	text-decoration: none;
	color: #fff;
}

.modal-body {
	text-align: center;
}

.btn.btn-default {
	width: 100px;
	background-color: #879eb0;
	color: #fff;
}

.close {
	text-align: right;
	margin-right: 15px;
}

.btn.scrape {
	font-size: 18px;
	margin-bottom: 10px;
}
button {
	width: 200px;
	height: 70px;
	background-color: #b85757;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Optima;
}

.home {
	font-size: 18px;
	font-family: Optima;
	background-color: #b85757;
	padding-top: 25px;
	padding-bottom: 25px;
}

.savedArt {
	font-size: 22px;
	font-family: Optima;
}

.name {
	color: #fff;
	font-family: Optima;
	letter-spacing: 0.05em;
}